*{
    margin: 0%;
padding: 0%;
text-decoration: none;
/* list-style: none; */
box-sizing: border-box;
}

.container{
    width: 1000px;
    display: flex;
    /* background-color: rgb(87, 141, 32); */
    margin: 0 auto;
    
}

.left-container{
    width: 300px;
    height: 900px;
    background-color: wheat;
    padding: 5%;
    
}

.left-container .image-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    /* justify-content: space-evenly;     */

}

.left-container img{
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-width: 10px;
    background-color: black;

}

.right-container{
    width: 500px;
    height: 900px;
    background-color: gainsboro;
    padding: 8%;
    border-radius: 0 50 0 50;    
}

.txt {
    font-size: 14px;
    align-items: center;
}

.style {
    text-decoration-line: underline;
}

.style1 {
    text-decoration-line: underline;
}

.style2 {
    text-align: justify;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 50px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 50px;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #6b7879;
    border: 1px solid white;
}

.download-button{
    display: flex;
    justify-content: space-around;
}

button:hover {
    background-color: #6b7879;
}

button:hover { 
    background-color: brown; 
}